<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create a new list</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="newListForm" (ngSubmit)="createNewList()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-text *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
        <span>
          This field is required
        </span>
      </ion-text>
      <ion-text *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
        <span>
          Minimum length 2
        </span>
      </ion-text>
    </div>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="newListForm.invalid" type="submit" color="light" shape="round" expand="block" class="ion-margin-horizontal">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>