<ion-content class="ion-text-center">
  <section>
    <ion-list-header class="ion-margin-top">Login</ion-list-header>
    <ion-button color="dark" expand="block" shape="round" fill="outline" large (click)="withEmail = !withEmail"
      class="ion-margin-horizontal">
      <ion-icon slot="end" name="mail"></ion-icon>
      With email
    </ion-button>
  </section>
  <div *ngIf="withEmail">
    <section>
      <form [formGroup]="login" (ngSubmit)="loginForm()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('email').touched && login.get('email').errors">
          <small *ngIf="login.get('email').errors.required">Field is required</small>
          <small *ngIf="login.get('email').errors.email">Not a valid email</small>
        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('password').touched && login.get('password').errors">
          <small *ngIf="login.get('password').errors.required">Field is required</small>
        </div>
        <ion-button color="primary" expand="block" shape="round" fill="outline" type="submit" large
          [disabled]="login.invalid" class="ion-margin-horizontal ion-margin-bottom">
          <ion-icon slot="end" name="home"></ion-icon>
          Login
        </ion-button>
      </form>
      <ion-label>Forgot password?</ion-label>
      <ion-button color="medium" expand="block" shape="round" fill="outline" type="submit" large
        class="ion-margin-horizontal ion-margin-bottom" [routerLink]="['/forgot-password']" routerLinkActive="active">
        Reset password
      </ion-button>
    </section>
  </div>
  <section>
    <ion-button color="dark" expand="block" shape="round" fill="outline" large class="ion-margin-horizontal ion-margin-top">
      <ion-icon slot="end" name="logo-google"></ion-icon>
      With google account
    </ion-button>
  </section>

  <section class="ion-margin-vertical">
    <ion-list-header>No account yet?</ion-list-header>
    <ion-button color="dark" expand="block" shape="round" fill="outline" type="submit" large
      [routerLink]="['/register']" class="ion-margin-horizontal">
      <ion-icon slot="end" name="pencil-sharp"></ion-icon>
      Register
    </ion-button>
  </section>
</ion-content>